<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Task It</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

<<<<<<< HEAD
<div class="nav-item px-3">
    <NavLink class="nav-link" href="tasks">
        <span class="bi bi-plus-square-fill-nav-menu"></span> Tasks
    </NavLink>
</div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
=======
        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="tasks">
                        <span class="bi bi-list-check-nav-menu" aria-hidden="true"></span> Tasks
                    </NavLink>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="login">
                        <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> Log In
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="register">
                        <span class="bi bi-person-plus-fill-nav-menu" aria-hidden="true"></span> Register
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>
>>>>>>> 6d0e4bbb83ddd912d77358c62f66efbcffa81e71
    </nav>

    <AuthorizeView>
        <Authorized>
            <div class="nav-bottom px-3">
                <form method="post" action="/logout">
                    <button type="submit" class="nav-link border-0 bg-transparent w-100 text-start">
                        <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span> Sign Out
                    </button>
                </form>
            </div>
        </Authorized>
    </AuthorizeView>
</div>
